Package: com.vladkorotnev.startupsound
Name: StartupSound
Depends: mobilesubstrate
Version: 2.0.0
Architecture: iphoneos-arm
Description: Sound after iPhone finished booting!
Maintainer: Vladislav Korotnev
Author: Vladislav Korotnev
Section: Tweaks
